body {
}


.exercise-list {
margin: 20px auto;
max-width: 600px;
text-align: center;
}


.exercise-item {
background: #151515;
border-left: 4px solid red;
margin: 12px 0;
padding: 14px;
border-radius: 8px;
cursor: pointer;
transition: 0.3s;
}


.exercise-item:hover {
background: #222;
transform: scale(1.03);
box-shadow: 0 0 15px red;
}


.modal {
position: fixed;
top: 0; left: 0;
width: 100%; height: 100%;
background: rgba(0,0,0,0.8);
display: flex;
justify-content: center;
align-items: center;
}


.modal-content {
background: #111;
padding: 20px;
border-radius: 12px;
border: 2px solid red;
text-align: center;
max-width: 400px;
box-shadow: 0 0 20px red;
}


.modal img {
width: 90%;
border-radius: 10px;
margin-bottom: 15px;
}


.close {
float: right;
cursor: pointer;
font-size: 2rem;
color: red;
padding: 5px;
}


.hidden { display: none; }


/* Animations */
.fade-in { animation: fade 1.5s ease-in; }
.fade-in-up { animation: fadeUp 1.2s ease-out; }
.scale-in { animation: scaleIn 0.3s ease-out; }


@keyframes fade { from {opacity: 0;} to {opacity: 1;} }
@keyframes fadeUp { from {opacity: 0; transform: translateY(20px);} to {opacity:1; transform: translateY(0);} }
@keyframes scaleIn { from {opacity: 0; transform: scale(0.8);} to {opacity:1; transform: scale(1);} }


/* Mobile Optimierung */
@media (max-width: 600px) {
.title { font-size: 2rem; }
.day-btn { width: 90%; font-size: 1rem; }
.exercise-item { font-size: 1rem; }
}
